* {
    padding: 0;
    margin: 0;
}

.logoeduca {
    width: 60px;
    height: 60px;
}

.background {
    width: 100%;
    height: 500px;
}

h1{
    margin-top: 300px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.cardslinha1 {
    margin-top: 300px;
}

.cardslinha2 {
    margin-bottom: -50px;
}

footer {
    margin-top: 100px;
}