* {
    padding: 0;
    margin: 0;
}
 
body {
    background-image: url(img/—Pngtree—line\ texture\ black\ loop_5946756.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logoeduca {
    width: 60px;
    height: 60px;
}

.background {
    width: 100%;
    height: 500px;
}


.cardslinha1 {
    margin-top: 200px;
}

.cardslinha2 {
    margin-top: 50px;
}

.cardslinha3 {
    margin-top: 50px;
}

.cardslinha4 {
    margin-top: 50px;
}

.cardslinha5 {
    margin-top: 50px;
    margin-bottom: -50px;
}

footer {
    margin-top: 100px;
}
